:root {
  --main-font-family: "Poppins", sans-serif;
  --main-font-style: normal;
  --regular-font-weight: 400;
  --regular-font-weight: 500;
  --bold-font-weight: 700;
  --color-purple: #231D4F;
  --color-rose: #BB6BD9;
  --color-white: #F5F5FA;
  --color-brown:#F2DAD5;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul,
li {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

button {
  border: none;
  background-color: inherit;
}

.background {
  background: linear-gradient(180deg, #F5F5FA 0%, #F2DAD5 44.15%, #A1ABD6 100%);
}

.active-subscription {
  color: var(--color-white) !important;
  background-color: var(--color-rose) !important;
}

.active-plan {
  background-color: var(--color-purple) !important;
  box-shadow: 0px 42px 34px rgba(82, 67, 194, 0.295755);
}
.active-plan > h3 {
  color: #ffffff !important;
}
.active-plan > p {
  color: #ffffff !important;
}
.active-plan > p > span {
  color: #ffffff !important;
}
.active-plan > ul > li {
  color: #ffffff !important;
}
.active-plan > button {
  background-color: var(--color-rose) !important;
}

@media screen and (min-width: 1199px) {
  .active-plan {
    position: relative;
    top: -26px;
  }
  .active-plan > p {
    padding-top: 26px;
  }
}
.price {
  padding: 41px 16px 32px 16px;
}

.price-position {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 122px;
}
.price-position > h2 {
  font-family: var(--main-font-family);
  font-weight: var(--regular-font-weight);
  color: var(--color-purple);
  line-height: 60px;
  font-size: 40px;
  margin-bottom: 25px;
}
.price-position > p {
  font-family: var(--main-font-family);
  font-weight: var(--medium-font-weight);
  color: #848199;
  font-size: 18px;
  line-height: 27px;
}

@media screen and (min-width: 1199px) {
  .price {
    width: 926px;
    margin: auto;
    display: flex;
    align-items: flex-end;
    padding: 0px;
  }
  .price-position {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
.header {
  padding: 32px 24px 32px 24px;
}

.header-position {
  display: flex;
  justify-content: space-between;
}

.burger {
  width: 22px;
  height: 15px;
  fill: var(--color-purple);
}

.logo-position {
  display: flex;
  align-items: center;
}

.logo {
  width: 22px;
  height: 30px;
}

.logo-name {
  font-family: var(--main-font-family);
  font-weight: var(--bold-font-weight);
  color: var(--color-purple);
}

@media screen and (max-width: 1199px) {
  .join {
    display: none;
  }
}
@media screen and (min-width: 1199px) {
  .header {
    padding: 32px 50px 73px 50px;
  }
  .join {
    width: 124px;
    height: 38px;
    border-radius: 26px;
    background-color: var(--color-rose);
    font-family: var(--main-font-family);
    font-weight: var(--regular-font-weight);
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
  }
}
.subscription {
  padding: 32px 50px 32px 50px;
}

.subscription-position {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  border-radius: 22px;
  width: 250px;
  margin: auto;
}
.subscription-position > button {
  height: 44px;
  width: 125px;
  text-transform: uppercase;
  border-radius: 22px;
  box-shadow: 0px 6px 12px rgba(82, 67, 194, 0.16);
  background-color: var(--color-white);
  font-family: var(--main-font-family);
  font-weight: var(--medium-font-weight);
  color: var(--color-purple);
  line-height: 18px;
  font-size: 12px;
}

@media screen and (min-width: 1199px) {
  .subscription {
    padding: 0px;
  }
}
.plans {
  padding: 32px 16px 64px 16px;
}

.plans-position {
  background-color: var(--color-white);
  border-radius: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.64);
}

.choose-plan {
  padding: 32px 28px 48px 28px;
  border-radius: 26px;
  margin: 8px;
}
.choose-plan > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 26px;
  color: var(--color-rose);
  background-color: #403879;
  width: 121px;
  height: 27px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  font-family: var(--main-font-family);
  font-weight: 800;
  line-height: 15px;
  font-size: 10px;
}
.choose-plan > p {
  font-size: 17px;
}
.choose-plan > h3 {
  margin-top: 20px;
  color: var(--color-purple);
  line-height: 42px;
  font-size: 28px;
}
.choose-plan > button {
  background-color: var(--color-purple);
  border-radius: 24px;
  width: 232px;
  height: 45px;
  color: var(--color-white);
}

.description {
  font-family: var(--main-font-family);
  font-weight: var(--medium-font-weight);
  color: #848199;
  line-height: 25px;
  font-size: 15px;
}
.description > span {
  font-family: var(--main-font-family);
  font-weight: var(--bold-font-weight);
  color: var(--color-purple);
  line-height: 46px;
  font-size: 36px;
}

.description-list {
  margin-top: 20px;
  margin-bottom: 40px;
}

.circle {
  width: 20px;
  margin-right: 10px;
}

@media screen and (min-width: 1199px) {
  .plans {
    padding: 90px 0px 0px 0px;
    margin-left: auto;
    margin-right: auto;
    width: 937px;
  }
  .plans-position {
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    margin-bottom: 69px;
  }
  .choose-plan {
    margin: 40px 34px 40px 34px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 232px;
  }
  .choose-plan > p {
    margin-top: 40px;
  }
}/*# sourceMappingURL=main.css.map */