.footer__position {
  background-color: var(--footer-background);
  padding-bottom: 60px;
  padding-top: 60px;
}

.address-mobile-position {

}

.footer-link {
  font-family: var(--main-font-family);
  font-style: var(--main-font-style);
  font-weight: var(--main-font-weight);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-text-for-dark-theme);
  margin-bottom: 20px;
}

.footer__living {
  font-family: var(--secondary-main-font-family);
  font-style: var(--main-font-style);
  font-weight: var(--secondary-font-weight);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-text-for-dark-theme);
  width: 231px;
}

.address-mail {
  font-family: var(--secondary-main-font-family);
  font-style: var(--main-font-style);
  font-weight: var(--secondary-font-weight);
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address-phone {
  font-family: var(--secondary-main-font-family);
  font-style: var(--main-font-style);
  font-weight: var(--secondary-font-weight);
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-address__mail-position {
  margin-top: 9px;
}

.footer-address__phone-position {
  margin-top: 9px;
}

.footer__link-sign {
  font-family: var(--secondary-main-font-family);
  font-style: var(--main-font-style);
  font-weight: var(--main-font-weight);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-text-for-dark-theme);
  text-align: center;
}

.footer__position-address-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__position-link-sign {
}

.footer__sign-logo-position {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.footer__sign-logo-background {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  transition-duration: 250ms;
  transition-timing-function: (0.4, 0, 0.2, 1);

  &:not(:nth-last-child(1)) {
    margin-right: 10px;
  }
  &:hover,
  &:focus {
    background-color: var(--main-color-hover-focus);
  }
}

.footer__sign-logo {
  fill: var(--color-text-for-dark-theme);
}

.footer__subscribe-position {
  font-family: var(--secondary-main-font-family);
  font-style: var(--main-font-style);
  font-weight: var(--main-font-weight);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-text-for-dark-theme);
  text-align: center;
  margin-bottom: 20px;
}

.footer-subscribe {
}

.footer-subscribe__input {
  background-color: inherit;
  width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-family: var(--secondary-main-font-family);
  font-style: var(--main-font-style);
  font-weight: var(--secondary-font-weight);
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 15px;
}

.footer-subscribe__button {
  position: relative;
  background: var(--main-color-hover-focus);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: var(--secondary-main-font-family);
  font-style: var(--main-font-style);
  font-weight: var(--main-font-weight);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--color-text-for-dark-theme);
  border: 0px;
}

.footer-subscribe__button-position {
  display: flex;
  justify-content: center;
}

.footer-subscribe__icon {
  fill: var(--color-text-for-dark-theme);
  margin-left: 10px;
}
.footer__input-position {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .footer__subscribe-position-btn{
    margin-top: 30px;
  }
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .footer__position-address-link-sign {
  margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__position-address-link-sign {
    display: flex;
    margin-bottom: 60px;
    justify-content: space-around;
  }

  .footer__position-link-sign{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }

  .address-mobile-position {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .footer__sign-logo-position {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__position {
    padding-bottom: 60px;
    padding-top: 60px;
  }

  .footer-link {
    font-family: var(--main-font-family);
    font-style: var(--main-font-style);
    font-weight: var(--main-font-weight);
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--color-text-for-dark-theme);
  }

  .footer__living {
    margin-top: 0px;
  }

  .address-mail {
    font-family: var(--secondary-main-font-family);
    font-style: var(--main-font-style);
    font-weight: var(--secondary-font-weight);
    font-size: 14px;
    line-height: 1.72;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }

  .address-phone {
    font-family: var(--secondary-main-font-family);
    font-style: var(--main-font-style);
    font-weight: var(--secondary-font-weight);
    font-size: 14px;
    line-height: 1.72;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }

  .footer__subscribe-position-btn{
    display: flex;
  }

  .footer-address__mail-position {
    margin-top: 9px;
  }

  .footer-subscribe__button-position {
    margin-top: 17px;
  }

  .footer__position-subscribe{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .footer-address__phone-position {
    margin-top: 9px;
  }

  .footer__link-sign {
    margin-left: 0px;
  }

  .footer__position-address-link {
    display: flex;
    align-items: baseline;
  }

  .address-mobile-position{
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .footer__position-link-sign {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
  }

  .footer__sign-logo-position {
    display: flex;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 20px;
  }

  .footer__sign-logo-background {
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    transition-duration: 250ms;
    transition-timing-function: (0.4, 0, 0.2, 1);

    &:not(:nth-last-child(1)) {
      margin-right: 10px;
    }
    &:hover,
    &:focus {
      background-color: var(--main-color-hover-focus);
    }
  }

  .footer__sign-logo {
    fill: var(--color-text-for-dark-theme);
  }

  .footer__subscribe-position {
    text-align: start;
    margin-bottom: 20px;
    margin-left: 0px;
  }

  .footer-subscribe {
    margin-left: 0px;
    margin-top: 0px;
  }

  .footer-subscribe__input {
    width: 358px;
    padding-top: 15px;
    padding-left: 16px;
    padding-bottom: 15px;
  }

  .footer-subscribe__button {
    position: relative;
    background: var(--main-color-hover-focus);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 200px;
    height: 50px;
    margin-left: 12px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: var(--secondary-main-font-family);
    font-style: var(--main-font-style);
    font-weight: var(--main-font-weight);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--color-text-for-dark-theme);
    border: 0px;
  }

  .footer-subscribe__icon {
    fill: var(--color-text-for-dark-theme);
    margin-left: 10px;
  }
}
