.header{
  padding: 32px 24px 32px 24px;
}

.header-position{
  display: flex;
  justify-content: space-between;
}

.burger{
  width: 22px;
  height: 15px;
  fill: var(--color-purple);
}

.logo-position{
  display: flex;
  align-items:center;
}

.logo{
  width: 22px;
  height: 30px;
  // fill: var(--color-purple);
}

.logo-name{
  font-family: var(--main-font-family);
  font-weight: var(--bold-font-weight);
  color: var(--color-purple);
}



// .logo__three-letters {
//   color: var(--main-color-hover-focus);
// }

// .navigation-bar {
//   font-family: var(--main-font-family);
//   font-style: var(--main-font-style);
//   font-weight: var(--main-font-weight);
//   font-size: 24px;
//   line-height: 1.19;
//   letter-spacing: 0.03em;
//   color: var(--main-color);
//   display: flex;
//   justify-content: space-between;

//   & a {
//     color: var(--color-for-links-of-navigation);
//   }

//   &__contacts,
//   &__portfolio,
//   &__studio {
//     display: none;
//   }

//   &__mail-phone {
//     display: none;
//   }

//   &__mobile-menu {
//   }

//   &__menu-position {
//     border: none;
//     background-color: inherit;
//   }
// }
// .position-header {
//   padding-bottom: 16px;
//   padding-top: 16px;
//   padding-left: 15px;
//   padding-right: 15px;
// }

// .navigation-bar__menu-position:hover,
// .navigation-bar__menu-position:focus {
//   fill: var(--main-color-hover-focus);
// }

// //==========================481-768======================================
// @media screen and (min-width: 768px) and (max-width: 1199px) {
//   .position-header {
//     display: flex;
//     padding: 21px 15px 0px 15px;
//   }

//   .navigation-bar {
//     display: flex;
//     justify-content: flex-start;
//     &__contacts,
//     &__portfolio,
//     &__studio {
//       display: flex;
//       color: var(--main-color);
//       transition-duration: 250ms;
//       transition-timing-function: (0.4, 0, 0.2, 1);
//       &:hover,
//       &:focus {
//         color: var(--main-color-hover-focus);
//       }
//     }

//     &__mail-phone {
//       font-family: var(--secondary-main-font-family);
//       font-style: var(--main-font-style);
//       font-weight: var(--thread-font-weight);
//       font-size: 14px;
//       line-height: 1.14;
//       letter-spacing: 0.02em;
//       color: var(--secondary-color-for-text);
//       display: flex;
//       flex-direction: row-reverse;
//       margin-right: 30px;
//       flex-direction: row-reverse;
//       transition-duration: 250ms;
//       transition-timing-function: (0.4, 0, 0.2, 1);

//       &:hover {
//         color: var(--main-color-hover-focus);
//       }
//       &:hover svg {
//         fill: var(--main-color-hover-focus);
//       }
//       &:focus {
//         color: var(--main-color-hover-focus);
//       }
//       &:focus svg {
//         fill: var(--main-color-hover-focus);
//       }
//       &:focus {
//         fill: var(--main-color-hover-focus);
//       }
//     }
//   }

//   .navigation-link {
//     font-family: var(--secondary-main-font-family);
//     font-style: var(--main-font-style);
//     font-weight: var(--thread-font-weight);
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
//     color: var(--main-color);
//     display: flex;
//     margin-top: 8px;
//     margin-left: 88px;

//     &__position:not(:last-child) {
//       margin-right: 50px;
//     }
//   }

//   .mail-phone {
//     &__position {
//       display: flex;
//       margin-left: 60px;
//     }

//     &__logo {
//       margin-right: 10px;
//       fill: var(--secondary-color-for-text);
//     }
//   }

//   .position-link__mail {
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
//   }

//   .position-mail-phone:nth-child(2) {
//     margin-top: 10px;
//   }
// }

// @media screen and (min-width: 1200px) {
//   .header {
//     padding-top: 24px;
//   }

//   .position-header{
//     display: flex;
//     padding: 0px 0px 0px 0px;
//     justify-content: space-around;
//     align-items: baseline;
//   }

//   .navigation-bar {
//       justify-content: space-between;
//       align-items: baseline;
//     &__contacts,
//     &__portfolio,
//     &__studio {
//       display: flex;
//       color: var(--main-color);
//       transition-duration: 250ms;
//       transition-timing-function: (0.4, 0, 0.2, 1);
//       &:hover {
//         color: var(--main-color-hover-focus);
//       }
//       &:focus {
//         color: var(--main-color-hover-focus);
//       }
//     }

//     &__mail-phone {
//       font-family: var(--secondary-main-font-family);
//       font-style: var(--main-font-style);
//       font-weight: var(--thread-font-weight);
//       font-size: 14px;
//       line-height: 1.14;
//       letter-spacing: 0.02em;
//       color: var(--secondary-color-for-text);
//       display: flex;
//       flex-direction: row-reverse;
//       margin-right: 30px;
//       display: flex;
//       flex-direction: row-reverse;
//       transition-duration: 250ms;
//       transition-timing-function: (0.4, 0, 0.2, 1);
//       &:hover {
//         color: var(--main-color-hover-focus);
//       }
//       &:hover svg {
//         fill: var(--main-color-hover-focus);
//       }
//       &:focus {
//         color: var(--main-color-hover-focus);
//       }
//       &:focus svg {
//         fill: var(--main-color-hover-focus);
//       }
//       &:focus {
//         fill: var(--main-color-hover-focus);
//       }
//     }
//   }

//   .navigation-link {
//     font-family: var(--secondary-main-font-family);
//     font-style: var(--main-font-style);
//     font-weight: var(--thread-font-weight);
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
//     color: var(--main-color);
//     display: flex;
//     margin-left: 93px;

//     &__position:not(:last-child) {
//       margin-right: 50px;
//     }
//   }

//   .mail-phone {
//     &__position {
//       display: flex;
//     }

//     &__logo {
//       margin-right: 10px;
//       fill: var(--secondary-color-for-text);
//     }
//   }

//   .position-link__mail {
//     display: flex;
//     margin-right: 30px;
//   }
// }
