.price{
    padding: 41px 16px 32px 16px;
}

.price-position{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 122px;
    >h2{
        font-family: var(--main-font-family);
        font-weight: var(--regular-font-weight);
        color: var(--color-purple);
        line-height: 60px;
        font-size: 40px;
        margin-bottom: 25px;
    }
    >p{
        font-family: var(--main-font-family);
        font-weight: var(--medium-font-weight);
        color: #848199;
        font-size: 18px;
        line-height: 27px;
    }
}

@media screen and (min-width: 1199px) {
    .price{
        width: 926px;
        margin: auto;
        display: flex;
        align-items: flex-end;
        padding: 0px;
    }
    .price-position {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
    }
}